.gallery-card3-wrapper {
  display: contents;
}
.gallery-card3-gallery-card {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card3-robotwars {
  width: 100%;
  height: 100%;
}
.gallery-card3-text1 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card3-text2 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
@media(max-width: 767px) {
  .gallery-card3-gallery-card {
    flex-direction: column;
  }
}

.gallery-card2-wrapper {
  display: contents;
}
.gallery-card2-gallery-card {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card2mta {
  width: 60%;
  height: 50%;
}
.gallery-card2-text1 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card2-text4 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
@media(max-width: 767px) {
  .gallery-card2-gallery-card {
    flex-direction: column;
  }
}

.gallery-card4-wrapper {
  display: contents;
}
.gallery-card4-gallery-card {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card4hw-racing {
  width: 100%;
  height: 100%;
}
.gallery-card4-text1 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card4-text2 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
@media(max-width: 767px) {
  .gallery-card4-gallery-card {
    flex-direction: column;
  }
}

.gallery-card1-wrapper {
  display: contents;
}
.gallery-card1-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card1-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-card1-text1 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card1-text2 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}



.gallery-card1root-class-name5 {
  width: auto;
}
@media(max-width: 767px) {
  .gallery-card1-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card1-image {
    height: 10rem;
  }
}

.gallery-card1-wrapper-1455 {
  display: contents;
}
.gallery-card1-gallery-card1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card1-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-card1-text3 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card1-text4 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}



.gallery-card1root-class-name5 {
  width: auto;
}
@media(max-width: 767px) {
  .gallery-card1-gallery-card1 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card1-image1 {
    height: 10rem;
  }
}

.gallery-card1-wrapper-dru6 {
  display: contents;
}
.gallery-card1-gallery-card2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card1-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-card1-text5 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card1-text6 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}



.gallery-card1root-class-name5 {
  width: auto;
}
@media(max-width: 767px) {
  .gallery-card1-gallery-card2 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card1-image2 {
    height: 10rem;
  }
}

.gallery-card1-wrapper-y7v6 {
  display: contents;
}
.gallery-card1-gallery-card3 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card1-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-card1-text7 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card1-text8 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}



.gallery-card1root-class-name5 {
  width: auto;
}
@media(max-width: 767px) {
  .gallery-card1-gallery-card3 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card1-image3 {
    height: 10rem;
  }
}

.my-work-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.my-work-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.my-work-navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
  background-color: rgba(188, 1, 255, 0);
}
.my-work-heading1 {
  text-decoration: none;
}
.my-work-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.my-work-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.my-work-icon1 {
  width: 36px;
  height: 36px;
}
.my-work-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.my-work-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.my-work-heading2 {
  text-decoration: none;
}
.my-work-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.my-work-icon3 {
  width: 24px;
  height: 24px;
}
.my-work-links-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.my-work-link2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.my-work-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.my-work-gallery {
  width: 100%;
  display: grid;
  padding: 48px;
  grid-gap: var(--dl-space-space-unit);
  max-width: 1400px;
  grid-template-columns: 1fr 1fr 1fr;
}
.my-work-component1 {
  text-decoration: none;
}
.my-work-component2 {
  text-decoration: none;
}
.my-work-component3 {
  text-decoration: none;
}
.my-work-component4 {
  text-decoration: none;
}
.my-work-component5 {
  text-decoration: none;
}
.my-work-component6 {
  text-decoration: none;
}
.my-work-component7 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .my-work-heading1 {
    text-align: center;
  }
  .my-work-heading2 {
    text-align: center;
  }
  .my-work-gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .my-work-navbar {
    position: relative;
  }
  .my-work-links-container1 {
    display: none;
  }
  .my-work-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .my-work-icon1 {
    fill: var(--dl-color-gray-white);
  }
  .my-work-gallery {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .my-work-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .my-work-gallery {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}

/* Uniform size for gallery images */
.gallery-card1-image,
.gallery-card1-image1,
.gallery-card1-image2,
.gallery-card1-image3,
.gallery-card2mta,
.gallery-card3-robotwars,
.gallery-card4hw-racing {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
