.feature-card2-wrapper {
  display: contents;
}
.feature-card2-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card2-icon1 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: 24px;
}
.feature-card2-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card2-text1 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}






















@media(max-width: 767px) {
  .feature-card2-feature-card {
    flex-direction: row;
  }
  .feature-card2-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card2-container {
    flex-direction: column;
  }
}

.feature-card2-wrapper-z5y5 {
  display: contents;
}
.feature-card2-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card2-icon3 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: 24px;
}
.feature-card2-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card2-text3 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}






















@media(max-width: 767px) {
  .feature-card2-feature-card1 {
    flex-direction: row;
  }
  .feature-card2-container1 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card2-container1 {
    flex-direction: column;
  }
}

.feature-card2-wrapper-awvx {
  display: contents;
}
.feature-card2-feature-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card2-icon5 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: 24px;
}
.feature-card2-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card2-text5 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}






















@media(max-width: 767px) {
  .feature-card2-feature-card2 {
    flex-direction: row;
  }
  .feature-card2-container2 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card2-container2 {
    flex-direction: column;
  }
}

.feature-card2-wrapper-1web {
  display: contents;
}
.feature-card2-feature-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card2-icon7 {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: 24px;
}
.feature-card2-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card2-text7 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}






















@media(max-width: 767px) {
  .feature-card2-feature-card3 {
    flex-direction: row;
  }
  .feature-card2-container3 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card2-container3 {
    flex-direction: column;
  }
}

.the-unit-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.the-unit-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.the-unit-navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
  background-color: rgba(188, 1, 255, 0);
}
.the-unit-heading1 {
  text-decoration: none;
}
.the-unit-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.the-unit-link1 {
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.the-unit-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.the-unit-icon10 {
  width: 36px;
  height: 36px;
}
.the-unit-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.the-unit-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.the-unit-heading2 {
  text-decoration: none;
}
.the-unit-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.the-unit-icon12 {
  width: 24px;
  height: 24px;
}
.the-unit-links-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.the-unit-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.the-unit-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.the-unit-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.the-unit-hero {
  display: flex;
  padding: 48px;
  align-self: center;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.the-unit-container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.the-unit-text12 {
  font-size: 3rem;
}
.the-unit-icon14 {
  width: 5%;
  height: 5%;
}
.the-unit-icon16 {
  width: 5%;
  height: 5%;
}
.the-unit-text14 {
  margin-top: 32px;
  text-align: center;
  padding-left: 48px;
  margin-bottom: 32px;
  padding-right: 48px;
}
.the-unit-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.the-unit-image {
  width: 100%;
  object-fit: cover;
}
.the-unit-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.the-unit-features {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  flex-direction: column;
}
.the-unit-text23 {
  font-size: 3rem;
  margin-bottom: 48px;
}
.the-unit-container5 {
  width: 100%;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr;
}
.the-unit-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.the-unit-testimonial-card {
  width: auto;
  display: flex;
  padding: 32px;
  align-self: stretch;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.the-unit-icon18 {
  width: 96px;
  flex-shrink: 0;
  margin-bottom: var(--dl-space-space-halfunit);
}
.the-unit-text26 {
  color: var(--dl-color-gray-500);
  font-size: 1.15rem;
  padding-top: 48px;
  padding-bottom: 48px;
}
.the-unit-profile {
  width: auto;
  display: flex;
  margin-top: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.the-unit-container6 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.the-unit-dean-in-croatia {
  width: 30%;
  height: auto;
  padding: var(--dl-space-space-unit);
}
.the-unit-container7 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.the-unit-text27 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.the-unit-text28 {
  color: var(--dl-color-gray-500);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 991px) {
  .the-unit-heading1 {
    text-align: center;
  }
  .the-unit-heading2 {
    text-align: center;
  }
  .the-unit-hero {
    flex-direction: column;
  }
  .the-unit-container3 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .the-unit-text12 {
    text-align: center;
  }
  .the-unit-text14 {
    text-align: center;
  }
  .the-unit-icon18 {
    height: 96px;
  }
  .the-unit-profile {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .the-unit-navbar {
    position: relative;
  }
  .the-unit-links-container1 {
    display: none;
  }
  .the-unit-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .the-unit-icon10 {
    fill: var(--dl-color-gray-white);
  }
  .the-unit-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .the-unit-text14 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .the-unit-features {
    padding-left: 32px;
    padding-right: 32px;
  }
  .the-unit-container5 {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 479px) {
  .the-unit-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .the-unit-hero {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .the-unit-container3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .the-unit-features {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .the-unit-testimonial-card {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .the-unit-profile {
    justify-content: center;
  }
}
