.gallery-card2-gallery-card {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card2mta {
  width: 60%;
  height: 50%;
}
.gallery-card2-text1 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card2-text4 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}
@media(max-width: 767px) {
  .gallery-card2-gallery-card {
    flex-direction: column;
  }
}
