.isaac-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.isaac-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.isaac-navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
  background-color: rgba(188, 1, 255, 0);
}
.isaac-heading1 {
  text-decoration: none;
}
.isaac-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.isaac-link1 {
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.isaac-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.isaac-icon10 {
  width: 36px;
  height: 36px;
}
.isaac-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.isaac-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.isaac-heading2 {
  text-decoration: none;
}
.isaac-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.isaac-icon12 {
  width: 24px;
  height: 24px;
}
.isaac-links-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.isaac-link3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.isaac-link4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.isaac-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.isaac-hero {
  display: flex;
  padding: 48px;
  align-self: center;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.isaac-container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.isaac-text12 {
  font-size: 3rem;
}
.isaac-icon14 {
  width: 5%;
  height: 5%;
}
.isaac-icon16 {
  width: 5%;
  height: 5%;
}
.isaac-text14 {
  margin-top: 32px;
  text-align: center;
  padding-left: 48px;
  margin-bottom: 32px;
  padding-right: 48px;
}
.isaac-image {
  width: 45rem;
  margin-top: 32px;
}
.isaac-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.isaac-features {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  flex-direction: column;
}
.isaac-text26 {
  font-size: 3rem;
  margin-bottom: 48px;
}
.isaac-container4 {
  width: 100%;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr;
}
.isaac-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.isaac-testimonial-card {
  width: auto;
  display: flex;
  padding: 32px;
  align-self: stretch;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.isaac-icon18 {
  width: 96px;
  flex-shrink: 0;
  margin-bottom: var(--dl-space-space-halfunit);
}
.isaac-text29 {
  color: var(--dl-color-gray-500);
  font-size: 1.15rem;
  padding-top: 48px;
  padding-bottom: 48px;
}
.isaac-profile {
  width: auto;
  display: flex;
  margin-top: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.isaac-container5 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.isaac-dean-in-croatia {
  width: 30%;
  height: auto;
  padding: var(--dl-space-space-unit);
}
.isaac-container6 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.isaac-text30 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.isaac-text31 {
  color: var(--dl-color-gray-500);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 991px) {
  .isaac-heading1 {
    text-align: center;
  }
  .isaac-heading2 {
    text-align: center;
  }
  .isaac-hero {
    flex-direction: column;
  }
  .isaac-container3 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .isaac-text12 {
    text-align: center;
  }
  .isaac-text14 {
    text-align: center;
  }
  .isaac-image {
    width: 80%;
  }
  .isaac-icon18 {
    height: 96px;
  }
  .isaac-profile {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .isaac-navbar {
    position: relative;
  }
  .isaac-links-container1 {
    display: none;
  }
  .isaac-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .isaac-icon10 {
    fill: var(--dl-color-gray-white);
  }
  .isaac-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .isaac-text14 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .isaac-features {
    padding-left: 32px;
    padding-right: 32px;
  }
  .isaac-container4 {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 479px) {
  .isaac-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .isaac-hero {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .isaac-container3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .isaac-features {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .isaac-testimonial-card {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .isaac-profile {
    justify-content: center;
  }
}
